# Configuration de l'application
APP_NAME="Livre d'Or - KT-Gbook"
APP_INTRO="Votre message d'introduction"
APP_VERSION=1.1.0
APP_UPD=19032026-1020
APP_ENV=prod
APP_DEBUG=false
APP_URL=https://votre-domaine.be/

# Nombre de message par page sur la page publique
ENTRIES_PER_PAGE=8

# Nombre de message par page sur la page d'administration
ADMIN_ENTRIES_PER_PAGE=12

# Configuration de la disparition des messages flash
FLASH_AUTOHIDE=true
FLASH_AUTOHIDE_DELAY_MS=4000

# Chemin et nom de la base de données
DB_DATABASE=database/app.sqlite

# Configuration du système Anti-flood de l'application (formulaire public)
GUESTBOOK_MIN_SECONDS=4
GUESTBOOK_RATE_LIMIT_MINUTES=15
GUESTBOOK_RATE_LIMIT_MAX_SUBMISSIONS=3

# Configuration du rate limiting du formulaire de connexion admin
LOGIN_RATE_LIMIT_MINUTES=15
LOGIN_RATE_LIMIT_MAX_ATTEMPTS=5

# Configuration de Turnstile (Captcha CloudFlare)
TURNSTILE_ENABLED=false
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
# Uniquement pour le développement local si APP_ENV=dev 
# Mettre sur true dans tous les autres cas
TURNSTILE_VERIFY_SSL=true
